.logout{
  
    &__title {
      color: white;
    }

    &__buttons {
    margin: 1em 0em;
    display: flex;
    gap: 1em;

    & > * {
      width: 100%;
    }

    &__cancel {
      color: white;
    }

    &__logout {
      background-color: red;
      color: white;
    }
  }
}