.perform__header {
  position: sticky;
  z-index: 99;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--clr-bg-opacity);
  padding: var(--margin-top) 0 .75em;
  backdrop-filter: blur(2px);

  & h1 {
    line-height: .8;
    padding-bottom: .3em;
  }

  & p {
    padding: .2em 0;
  }
}

.perform__mid {
  position: relative;
  margin-top: 2em;
  padding: 0.5em 1em;
  background-color: var(--clr-bg-cont);
  border-radius: var(--border-radius-big);
  
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;

    &__default-time {
      color: var(--clr-text-dim);
      display: inline;
      font-size: .8em;

      &::before {
        content: '';
        line-height: inherit;
        display: inline-block;
        background-image: url('../icons/restTimer.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: .7em;
        height: .7em;
        margin-right: .3em;
      }
    }
  }

  
  &__input {
    justify-self: center;
    width: 80%;
    height: 100%;
    font-size: 1em;
    border: none;
    border-radius: var(--border-radius-small);
    background-color: var(--clr-bg);
    color: var(--clr-text);
    text-align: center;
    padding: .3em 0;

    appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
    }

    &::placeholder {
      color: var(--clr-placeholder);
    }
  }

  &__input-checkbox {
    justify-self: end;
    position: relative;
    font-size: inherit;
    font-size: 1em;
    width: 1.5em;
    height: 1.5em;
    appearance: none;
    border-radius: var(--border-radius-small);
    border: 2px solid var(--clr-text-dim);
    cursor: pointer;

    &::before {
      content: '✓';
      color: var(--clr-text-dim);
      position: absolute;
      inset: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;
      opacity: 0;
      // transform-origin: center;
      transform: translate(0%, -100%) scale(2);
      transition: opacity 0ms;
    }
    
    &:checked::before {
      transform: scale(1);
      opacity: 1;
      transition: opacity 50ms, transform 130ms cubic-bezier(.99,1.12,0,1.66);
    }
  }
}
.perform__grid{
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 3ch 4fr 2fr 2fr 1fr;
  align-items: center;
  text-align: center;
  gap: .5em;
  margin-bottom: .5em;
  border-radius: var(--border-radius-small);
  
  h3 {
    font-size: 1em;
    font-weight: 600;
    color: var(--clr-text-dim);
  }
  &::after {
    content: '';
    position: absolute;
    border-radius: inherit;
    inset: 0;
    background-color: var(--clr-set-done);
    transform: translateX(-100%);
    pointer-events: none;
    transition: transform 200ms ease-in-out;
  }

  &.done {
    &::after {
      transform: translateX(0%);
    }
  }
}

.perform__buttons {
  margin: 1em 0em;
  display: flex;
  gap: 1em;

  & > * {
    width: 100%;
  }
}