
.perform__header {
  padding: var(--padding-main);

  &__top {
    display: flex;
    justify-content: space-between;
  }
}

.perform__mid {
  margin-top: 2em;
  padding: 0.5em 1em;
  background-color: var(--clr-bg-cont);
  
  
  &__input {
    width: 100%;
  }
}

.perform__grid{
  display: grid;
  grid-template-columns: 3ch 3fr 2fr 2fr 1fr;
  text-align: center;
}