.summary {
  display: flex;
  height: calc(100vh - var(--margin-top));
  margin-top: calc(var(--margin-top) * -1);
  flex-direction: column;
  justify-content: center;

  &__greeting {
    text-align: center;
    & > p {
      font-size: 1.25em;
      font-weight: 200;
    }
  }
  
  &__info {
    margin-top: 2em;
    padding: var(--padding-main);
    background-color: var(--clr-bg-cont);
    border-radius: var(--border-radius-big);

    &__exercises {
      margin-top: 0.5em;
      display: flex;
      justify-content: space-between;
    }

    &__stats {
      margin-top: 0.5em;
      display: flex;
      justify-content: space-between;
      color: var(--clr-text-dim);
    }
  }

}