@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Noto+Sans:wght@400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-text: hsla(0, 0%, 100%, 1);
  // --clr-text-dim: hsla(232, 15%, 58%, 1);
  --clr-text-dim: hsla(0, 0%, 100%, .6);
  --clr-placeholder: hsla(0, 0%, 100%, .4);
  --clr-bg: hsla(232, 23%, 28%, 1);
  --clr-bg-opacity: hsla(232, 23%, 28%, .9);
  --clr-bg-cont: hsla(232, 19%, 38%, 1);
  --clr-overlay: hsla(0, 0%, 0%, 0.62);
  --clr-action: hsla(357, 63%, 63%, 1);
  --clr-action-hover: hsla(357, 63%, 56%, 1); // lightness down(-) 4%, s orig s -5%
  --clr-btn-act: var(--clr-action);
  --clr-btn-cancel: hsla(232, 14%, 58%, 1);
  --clr-set-done: hsla(104, 100%, 50%, 0.27);
  --clr-checkbox: hsla(231, 23%, 76%, .7);

  --padding-main: 1rem;
  --margin-top: 1em;

  --border-radius-small: 5px;
  --border-radius-big: 10px;

  --max-width: 35em;

  --font-heading: 'Montserrat', sans-serif;
  --font-text: 'Noto Sans', sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --clr-text: hsla(0, 0%, 0%, 1);
    // --clr-text-dim: hsla(232, 15%, 58%, 1);
    --clr-text-dim: hsla(0, 0%, 0%, .4);
    --clr-placeholder: hsla(0, 0%, 0%, .4);
    --clr-bg: hsla(0, 0%, 82%, 1);
    --clr-bg-opacity: hsla(0, 0%, 82%, .9);
    --clr-bg-cont: hsla(0, 0%, 100%, 1);
    --clr-overlay: hsla(0, 0%, 0%, 0.62);
    --clr-action: hsla(69, 93%, 61%, 1);
    --clr-action-hover: hsla(69, 93%, 57%, 1); // lightness down(-) 4%, s orig s -5%
    --clr-btn-act: var(--clr-action);
    --clr-btn-cancel: hsla(0, 0%, 67%, 1);
    --clr-set-done: hsla(104, 100%, 50%, 0.27);
    --clr-checkbox: hsla(231, 23%, 76%, .7);
  }
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-text);
  font-family: var(--font-text);
  max-width: var(--max-width);
  padding: 0 1rem;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

.nav-margin {
  padding-bottom: calc(1rem + 80px);
}

.btn {
  color: var(--clr-text);
  background: none;
  border: none;
  border-radius: var(--border-radius-small);
  background-color: var(--clr-action);
  padding: 0.7em 1em;
  font-size: 1rem;
  cursor: pointer;

  &--action {
    background-color: var(--clr-btn-act);
    color: var(--clr-text);
    &:hover{
      background-color: var(--clr-action-hover);
    }
  }

  &--cancel {
    background-color: var(--clr-btn-cancel);
    color: var(--clr-bg);
  }

  &--delete {
    color: red;
  }
}

.btn-options {
  border: none;
  background: none;
  border-radius: var(--border-radius-big);
  background-color: var(--clr-bg);
  width: 4.5em;
  height: 2em;
  color: var(--clr-text-dim);
  cursor: pointer;

  & > span,
  & > span::after,
  & > span::before {
    display: block;
    width: .5em;
    height: .5em;
    background-color: var(--clr-checkbox);
    border-radius: 50%;
    pointer-events: none;
  }
  
  & > span {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
    &::after,
    &::before {
      content: '';
      position: absolute;
    }

    &::after {
      transform: translateX(-1.2em);
    }
    &::before {
      transform: translateX(1.2em);
    }
  }
}

a {
  color: var(--clr-text);
}


@import './styles/Login.scss';
@import './styles/LogoutModal.scss';
@import './styles/NavBar.scss';
@import './styles/Select.scss';
@import './styles/SelectProgram.scss';
@import './styles/ConfirmModal.scss';
@import './styles/AddExercises.scss';
@import './styles/ModifyProgram.scss';
@import './styles/Perform.scss';
@import './styles/RestTimer.scss';
@import './styles/Summary.scss';
@import './styles/AddTemplate.scss';
@import './styles/History.scss';