
.login {
    background-color: var(--clr-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    &__header {
      color: var(--clr-text);
      font-family: 'Montserrat', sans-serif;
      font-size: 5em;
  }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 1em;
      
      &__input {
        margin: 0.8em 0em;
        position: relative;
        & input {
          color: var(--clr-text);
          font-size: 1.3em;
          padding: .4em 0em;
          margin: 0;
          background: none;
          border: none;
          border-bottom: 3px solid var(--clr-checkbox);
          &:focus {
            outline: none;
            border-color: var(--clr-action);
          }
          &::placeholder {
            opacity: 0;
          }
          
        }
        & input:focus + span {
          transform: translateY(-130%) scale(.9);
          color: var(--clr-action);
        }
        & input:not(:placeholder-shown) + span {
          transform: translateY(-130%) scale(.9);
        }
        
        & > span {
          pointer-events: none;
          transform-origin: left;
          color: var(--clr-text-dim);
          position: absolute;
          top: 30%;
          left: 0;
          width: 100%;
          transition: transform 100ms ease-in-out;
        }
    }
    &__link {
      width: 100%;
    }

    &__button{
      margin-top: 1.5em;
      width: 100%;
    }
  }

  &__create-account {

  }
}