.program {
  background-color: var(--clr-bg-cont);
  width: 100%;
  padding: var(--padding-main);
  margin: 1em;
  border-radius: var(--border-radius-big);
  
  &__stats{
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    margin-top: 0.5em;
    color: var(--clr-text-dim);
    border-top: 2px solid var(--clr-bg);
    padding-top: 0.8em;
  }

  &__list {
    list-style-position: inside;
    margin-bottom: 1em;
  }

  &__header {
    display: flex;
    justify-content: space-between;

    &__title {
      margin-bottom: 0.5em;
    }

    &__edit-button{
      padding: 0.3em 1em;
    }
  }





}